{
  "id": "{{service.name}}",
  "cpus": 0.5,
  "mem": 1024,
  "instances": 1,
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib:$LD_LIBRARY_PATH; export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so); export JAVA_HOME=$(ls -d $MESOS_SANDBOX/jre*/); export JAVA_HOME=${JAVA_HOME%/}; export PATH=$(ls -d $JAVA_HOME/bin):$PATH &&  export JAVA_OPTS=\"-Xms256M -Xmx512M -XX:-HeapDumpOnOutOfMemoryError\" &&  ./redis-scheduler/bin/redis ./redis-scheduler/svc.yml",
  "labels": {
    "DCOS_COMMONS_API_VERSION": "v1",
    "DCOS_COMMONS_UNINSTALL": "true",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "MARATHON_SINGLE_INSTANCE_APP": "true",
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  },
  {{#service.service_account_secret}}
  "secrets": {
    "serviceCredential": {
      "source": "{{service.service_account_secret}}"
    }
  },
  {{/service.service_account_secret}}
  "env": {
    "PACKAGE_NAME": "{{package-name}}",
    "PACKAGE_VERSION": "{{package-version}}",
    "PACKAGE_BUILD_TIME_EPOCH_MS": "{{package-build-time-epoch-ms}}",
    "PACKAGE_BUILD_TIME_STR": "{{package-build-time-str}}",
    "FRAMEWORK_NAME": "{{service.name}}",
    "SLEEP_DURATION": "{{service.sleep}}",
    "FRAMEWORK_USER": "{{service.user}}",
    "FRAMEWORK_PRINCIPAL": "{{service.service_account}}",
    "FRAMEWORK_LOG_LEVEL": "{{service.log_level}}",
    "BOOTSTRAP_URI": "{{resource.assets.uris.bootstrap-zip}}",
    "MESOS_API_VERSION": "V1",

    {{#service.virtual_network_enabled}}
    "ENABLE_VIRTUAL_NETWORK": "yes",
    "VIRTUAL_NETWORK_NAME": "{{service.virtual_network_name}}",
    {{/service.virtual_network_enabled}}

    "CONFIG_TEMPLATE_PATH": "redis-scheduler",
    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "STADIS_URI": "{{resource.assets.uris.stadis-zip}}",
    "REDIS_IMAGE": "{{resource.assets.container.docker.hub-redis-3}}",
    {{#service.service_account_secret}}
    "DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
    "MESOS_MODULES": "{\"libraries\": [{\"file\": \"libdcos_security.so\", \"modules\": [{\"name\": \"com_mesosphere_dcos_ClassicRPCAuthenticatee\"}]}]}",
    "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
    {{/service.service_account_secret}}
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}",

    "ENABLE_STADIS": "{{redis-stadis.stadis_enabled}}",
    "STADIS_INTERVAL": "{{redis-stadis.stadis_interval}}",

    "REDIS_CONF_PROTECTED_MODE": "{{redis-network.protected-mode}}",
    "REDIS_CONF_TCP_BACKLOG": "{{redis-network.tcp-backlog}}",
    "REDIS_CONF_TIMEOUT": "{{redis-network.timeout}}",
    "REDIS_CONF_TCP_KEEPALIVE": "{{redis-network.tcp-keepalive}}",
    "REDIS_CONF_LOGLEVEL": "{{redis-general.loglevel}}",
    "REDIS_CONF_DATABASES": "{{redis-general.databases}}",
    "REDIS_CONF_SAVE_ENABLED": "{{redis-snapshotting.save-enabled}}",
    "REDIS_CONF_SAVE_SECONDS": "{{redis-snapshotting.save-seconds}}",
    "REDIS_CONF_SAVE_KEYS": "{{redis-snapshotting.save-keys}}",
    "REDIS_CONF_REQUIREPASS": "{{redis-security.requirepass}}",
    "REDIS_CONF_MAXCLIENTS": "{{redis-limits.maxclients}}",
    "REDIS_CONF_MAXMEMORY": "{{redis-limits.maxmemory}}",
    "REDIS_CONF_MAXMEMORY_POLICY": "{{redis-limits.maxmemory-policy}}",
    "REDIS_CONF_MAXMEMORY_SAMPLES": "{{redis-limits.maxmemory-samples}}",
    "REDIS_CONF_APPENDONLY": "{{redis-appendonlymode.appendonly}}",
    "REDIS_CONF_AUTO_AOF_REWRITE_PERCENTAGE": "{{redis-appendonlymode.auto-aof-rewrite-percentage}}",
    "REDIS_CONF_AUTO_AOF_REWRITE_MIN_SIZE": "{{redis-appendonlymode.auto-aof-rewrite-min-size}}",
    "REDIS_CONF_HASH_MAX_ZIPLIST_ENTRIES": "{{redis-advanced.hash-max-ziplist-entries}}",
    "REDIS_CONF_HASH_MAX_ZIPLIST_VALUE": "{{redis-advanced.hash-max-ziplist-value}}",
    "REDIS_CONF_LIST_MAX_ZIPLIST_SIZE": "{{redis-advanced.list-max-ziplist-size}}",
    "REDIS_CONF_LIST_COMPRESS_DEPTH": "{{redis-advanced.list-compress-depth}}",
    "REDIS_CONF_SET_MAX_INTSET_ENTRIES": "{{redis-advanced.set-max-intset-entries}}",
    "REDIS_CONF_ZSET_MAX_ZIPLIST_ENTRIES": "{{redis-advanced.zset-max-ziplist-entries}}",
    "REDIS_CONF_ZSET_MAX_ZIPLIST_VALUE": "{{redis-advanced.zset-max-ziplist-value}}",
    "REDIS_CONF_HLL_SPARSE_MAX_BYTES": "{{redis-advanced.hll-sparse-max-bytes}}",

    "REDIS_NODE_CPUS": "{{redis-node.cpus}}",
    "REDIS_NODE_MEM": "{{redis-node.mem}}",
    "REDIS_MASTER_PLACEMENT": "{{redis-node.placement_constraint_master}}",
    "REDIS_SLAVE_PLACEMENT": "{{redis-node.placement_constraint_slaves}}",
    "REDIS_SLAVE_COUNT": "{{redis-node.count_slaves}}",


    "REDIS_SENTINEL_ENABLED": "{{redis-sentinel.sentinel_enabled}}",
    "REDIS_SENTINEL_COUNT": "{{redis-sentinel.count}}",
    "REDIS_SENTINEL_PLACEMENT": "{{redis-sentinel.placement_constraint}}",
    "REDIS_SENTINEL_CONF_MASTER_NAME": "{{redis-sentinel.master-name}}",
    "REDIS_SENTINEL_CONF_QUORUM": "{{redis-sentinel.quorum}}",
    "REDIS_SENTINEL_CONF_DOWN_AFTER": "{{redis-sentinel.down-after}}",
    "REDIS_SENTINEL_CONF_FAILOVER_TIMEOUT": "{{redis-sentinel.failover-timeout}}",
    "REDIS_SENTINEL_CONF_PARALLEL_SYNCS": "{{redis-sentinel.parallel-syncs}}"

  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}",
    "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/v1/plans/deploy",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    },
    {
      "protocol": "HTTP",
      "path": "/v1/plans/recovery",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ],
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": { "VIP_0": "/api.{{service.name}}:80" }
    }
  ]
}
